<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<div th:include="main-template :: header"></div>
<title>Home</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/profile">Profilo</a>
      </li>
       <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
    </ul>
  </div>
<!--    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div> -->
</nav>

<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
     data-toggle="collapse" data-target="#navbar" aria-expanded="false"
     aria-controls="navbar">
     <span class="sr-only">Toggle navigation</span> <span
      class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" th:href="@{/}">Registration and
     Login Module</a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
     <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
    </ul>
   </div>
  </div>
 </nav> -->

 <br>
 <br>
 <div class="container">
  <h2>User Registration and Login Module using Spring Boot, Spring
   MVC, Spring Security, JPA/Hibernate and Thymeleaf</h2>

  <p>
   Welcome <span sec:authentication="principal.username"> <span sec:authentication="principal"></span> User</span>
  </p>
 </div>


</body>
</html>