<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/main.css" />

</head>
<body>
<h1 th:text="|Hello ${name}!|"></h1>
</body>

</html>